
.sort__button{
    width: 100%;
    display: inline-block;
    border: none;
    outline: none;
}
.sort__button:hover {
    background-color: #bdc3cb;
}
.sort__button:active {
    background-color: #91979c;
}
.header{
    border: 2px solid #b12e07;
}
.even__col{
    background-color: #ff84002e;
}
.filter__input {
    border: 2px solid #000;
}
.filter__button {
    margin-top: 0.5rem;
    display: flex;
    width: 100%;
    justify-content: center;

}
.fixed {
    width: 100%;
    position: fixed;
    top: 0;
    margin-right: -50%;
}
